div{
background:lightgray;
margin: 20px auto;
padding: 20px;
width: 100px;
height:100px;
/*border-radius:30%;*/
margin-top: 40px;
/*******************/
/*box-shadow:horizontal |vertical |dbab(Blur)|ent4ar|color|inset-outset**/
box-shadow:-8px -8px 3px lightsteelblue,
8px 8px 3px lightsteelblue;
}
